
@font-face 
{
    font-family: BoggleFont;
    src: url(/font/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
  }
body
{
    background-color:steelblue;
 
    font-family: BoggleFont;
}

#masterContainer
{
    display:block;
    border: 2px;
    border-radius: 25px;
    border-color: steelblue;
    width: 1366px;
    height: 620px ;
    background-color: darkorange;
    background-image: url(/img/blocks.png);
    background-repeat: repeat;
    background-blend-mode: overlay;
    margin:0 auto;
    text-align: center;
    box-shadow: 0px 1px 14px 5px rgba(0,0,0,0.65) inset;
    -webkit-box-shadow: 0px 1px 14px 5px rgba(0,0,0,0.65) inset;
    -moz-box-shadow: 0px 1px 14px 5px rgba(0,0,0,0.65) inset;
}

.leftSide
{
    float:left;
    width:23%;
    height:550px;
    text-align: center;
    margin:25px;
    border-radius:25px;
    background-color:darkorange;
    padding:10px;
    box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.51);
}

#logo img
{
    margin-top:-35px;
    text-align: center;
    width:250px;
    margin-left:-40px;
    
}
#rules
{
    font-family:BoggleFont ;
    font-size: 20px;
    margin-top:-10px;
    
}

#time
{
    text-align: center;
    font-family:BoggleFont ;
    font-size: 60px;
    color:orangered;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
     text-shadow: 2px 2px 2px rgb(54, 54, 54);
}

.btn
{
    margin: 10px;
    width:220px;
    height:40px;
    border: 2px;
    border-radius: 15px;
    background-color:rgb(241, 176, 9);
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;
    color:white;
    font-family: BoggleFont;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
}
.btn2
{
    margin: 10px;
    width:220px;
    height:30px;
    border: 2px;
    border-radius: 15px;
    background-color:maroon;
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;
    color:white;
    font-family: BoggleFont;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
}
.btns
{
    text-align: center;
}

.btnConfirm
{
    margin: 10px;
    width:150px;
    height:40px;
    border: 2px;
    border-radius: 15px;
    background-color:rgb(56, 197, 56);
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;
    color:white;
    font-family: BoggleFont;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
}

.btnClear
{
    margin: 10px;
    width:100px;
    height:40px;
    border: 2px;
    border-radius: 15px;
    background-color:red;
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;
    color:white;
    font-family: BoggleFont;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
}

#scoreTable
{
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: BoggleFont;
    font-size: 15px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom:10px;
    padding:5px;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    -webkit-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    -moz-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    
}
#scoreTable h4
{
    margin-top:-3px;
    margin-bottom: 5px;
}

#scoreTable table
{
    text-align: center;
    width:100%
}

#scoreTable table td
{
    border:1px;
    border-style: solid;
    border-color:grey;
    
    
}

#HighScoreTable 
{
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: BoggleFont;
    font-size: 15px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding:3px;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    -webkit-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    -moz-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    
}
#HighScoreTable h4
{
    margin-top:-3px;
    margin-bottom: 5px;
}

#HighScoreTable table
{
    text-align: center;
    width:100%
}


#HighScoreTable table tr:nth-child(even) 
{
    background-color: steelblue;
    color:antiquewhite;
}

.medal
{
    width:15px;
    height:20px;
    vertical-align: middle;
}
#center
{
    
    width: 40%;
    float:left;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#main
{
    
    display:table;  
    width:590px;
    height: 585px; 
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    background-color:steelblue;
    padding-left:6px;
    padding-top:6px;
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;

}

#box
{
    opacity: 1;
    transition: opacity 0.5s linear; 
}
#box.hide
{
    opacity: 0;
}



.coverBox
{
    position: relative;
    z-index: 1;
    margin-bottom: -598px;
    width: 595px;
    height: 595px;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color:rgba(58, 20, 2, 0.85);
    -webkit-box-shadow: -1px 11px 19px 0px rgba(0,0,0,0.81); 
    box-shadow: -1px 11px 19px 0px rgba(0,0,0,0.81);
}
.innerCoverBox
{
    width: 575px;
    height: 580px;
    margin-left:7.5px;
    Margin-top:5px;
    border: 2px;
    border-style: solid;
    border-color: rgb(83,63,2) ;
    border-radius: 15px;
    background-image: url(/img/Blue.png);
    background-size: 1000px;
    /* background: rgb(83,63,2);
    background: linear-gradient(163deg, rgba(83,63,2,0.8687850140056023) 0%, rgba(238,181,10,0.8687850140056023) 0%, rgba(198,143,10,0.85) 0%, rgba(66,45,2,0.85) 100%); */
}

.boggleBoxLogo
{
    position:absolute;
    color:rgba(33, 79, 87, 0.85);
    margin-top:230px;
    margin-left:-118px;
    font-family:BoggleFont ;
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(85, 188, 236, 0.85);
}

.row
{
    display:table-row;
}

.tray
{
    display:table-cell;
    border: 3px;
    border-style: solid;
    border-color:darkblue;
    vertical-align: middle;
    padding-left:6px;
    margin:auto;
    text-align: center;
    width:  105px;
    height:  110px;
    background: steelblue;
    background: radial-gradient(circle, rgba(10, 192, 238, 0.869) 59%, rgb(8, 167, 207) 70%, rgb(8, 113, 161) 77%, rgb(2, 71, 88) 100%);
}
.cell
{
    position: absolute;
    z-index: 0;
    display:table-cell;
    margin-left:2.5px;
    margin-top:3px;
    border: 0px;
    border-style: solid;
    border-radius: 50px;
    text-align: center;
    width:  100px;
    height: 100px;
    font-weight: normal;
    font-size: 80px;
    vertical-align: middle; 
    background:antiquewhite;
    font-family: BoggleFont;
          
}


button:hover
{
    background-color:rgb(30, 137, 224);
}
button:visited
{
    background-color:rgb(30, 137, 224);
}



.diceShadow
{
    position: relative;
    z-index: 0;
    border: 0px;
    border-style: solid;
    margin-left:-3px;
    width:  105px;
    height: 105px;
    border-radius: 25px;
    background: rgb(250,240,220);
    background: linear-gradient(180deg, rgba(250,240,220,1) 0%, rgba(156,155,153,1) 100%);
    -webkit-box-shadow: 1px 5px 12px -6px #000000; 
    box-shadow: 1px 5px 12px -6px #000000;
}

.rot1
{
    transform: rotate(-0deg) ;  
}  
.rot2
{
    transform: rotate(-90deg) ;
}  

.rot3
{
    transform: rotate(-180deg) ;  
}  

.rot4
{
    transform: rotate(-270deg);
}  

.rightSide
{
    float:right;
    width:23%;
    height:550px;
    text-align: center;
    margin:25px;
    border-radius:25px;
    background-color:darkorange;
    padding:10px;
    box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.51);
}


.solver
{
    width:220px;
    height:150px;
    margin :0 auto;
    border-radius: 25px;
    background-color: antiquewhite;
    padding: 20px;
    font-family: BoggleFont;
    overflow-y:auto;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    -webkit-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
    -moz-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.45) inset;
}
#foundWords
{
    margin-top:-15px;
}

#foundWords p
{
    margin-bottom: 5px;
}

#footer
{
    width:1366px;
    clear:both;
    text-align: center;
    font-family: BoggleFont; 
    color:antiquewhite;  
}

#footer a
{
    color:rgba(85, 188, 236, 0.85);
    text-decoration:none;
}

.darkRed
{
    background-color:maroon;
    color:antiquewhite;
}

.steelblue
{
    background-color:steelblue;
    color:antiquewhite;
}

.steelblue2
{
    color:steelblue;
    
}

.green
{
    background-color:seagreen;
    color:antiquewhite;
}


