
@font-face 
{
    font-family: BoggleFont;
    src: url(/font/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
  }
body
{
    background-color: steelblue;
}

#wrapper
{
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.leftSide
{
    
    float:left;
    width:450px;
    text-align: center;
    margin-top:-0px;
    margin-left: -0px;
    border-radius:25px;
    background-color: rgb(105, 147, 182);
    margin-left:25px;
    margin-top:25px;
    padding:10px;
}

#gameContainer
{ 
    width:485px;
    margin: auto;
    padding-top:20px;
    text-align: center;
}

#logo img
{
    margin-top:-40px;
   
    text-align: center;
    width:450px;
}
#rules
{
    font-family:BoggleFont ;
    font-size: 30px;
    
}

#time
{
    text-align: center;
    font-family:BoggleFont ;
    font-size: 80px;
    color:orangered;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
     text-shadow: 2px 2px 2px rgb(54, 54, 54);
}

.btn
{
   margin: 20px;
    width:300px;
    height:50px;
    border: 2px;
    border-radius: 15px;
    background-color:rgb(241, 176, 9);
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;
    color:white;
    font-family: BoggleFont;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
}
.btn2
{
   margin: 20px;
    width:300px;
    height:50px;
    border: 2px;
    border-radius: 15px;
    background-color:maroon;
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;
    color:white;
    font-family: BoggleFont;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
}

#scoreTable
{
    background-color: antiquewhite;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    font-family: BoggleFont;
    width: 120px;
    text-align: center;
    margin: 0 auto;
    margin-top:10px;
}


#scoreTable table
{
    text-align: center;
}

#box
{
    opacity: 1;
    transition: opacity 0.5s linear; 
}
#box.hide
{
    opacity: 0;
}

.coverBox
{
    position:absolute;
    z-index: 1;
    width: 480px;
    height: 475px;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color:rgba(58, 20, 2, 0.85);
    -webkit-box-shadow: -1px 11px 19px 0px rgba(0,0,0,0.81); 
    box-shadow: -1px 11px 19px 0px rgba(0,0,0,0.81);
}

.innerCoverBox
{
    position:absolute;
    width: 460px;
    height: 455px;
    margin-left:7.5px;
    Margin-top:10px;
    border: 2px;
    border-style: solid;
    border-color: rgb(83,63,2) ;
    border-radius: 15px;
    background-image: url(/img/brown.png);
    background-size: 700px;
    /* background: rgb(83,63,2);
    background: linear-gradient(163deg, rgba(83,63,2,0.8687850140056023) 0%, rgba(238,181,10,0.8687850140056023) 0%, rgba(198,143,10,0.85) 0%, rgba(66,45,2,0.85) 100%); */
}

.boggleBoxLogo
{
    position:absolute;
    color:rgb(134, 57, 6,0.85);
    margin-top:160px;
    margin-left:-128px;
    font-family:BoggleFont ;
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(235, 134, 2,0.85);
}

#main
{
    position:absolute;
    z-index: 0;
    width: 475px;
    height: 470px;
    display:table;   
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    background-color:rgb(241, 176, 9);
    padding-left:6px;
    padding-top:6px;
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;

}



.row
{
    display:table-row;
}

.tray
{
    position: relative;
    z-index: 0;
    display:table-cell;
    border: 3px;
    border-style: solid;
    border-color: rgb(94, 51, 2);
    vertical-align: middle;
    padding-left:6px;
    margin:auto;
    text-align: center;
    width:  105px;
    height:  110px;
    background: rgb(238,181,10);
    background: radial-gradient(circle, rgba(238,181,10,0.8687850140056023) 59%, rgba(220,164,8,1) 70%, rgba(210,148,3,1) 77%, rgba(159,107,3,1) 100%);
}
.cell
{
    position: absolute;
    z-index: 0;
    display:table-cell;
    margin-left:2.5px;
    margin-top:3px;
    border: 0px;
    border-style: solid;
    border-radius: 50px;
    text-align: center;
    width:  100px;
    height: 100px;
    font-weight: normal;
    font-size: 80px;
    vertical-align: middle; 
    background: rgb(250,240,220);
    font-family: BoggleFont;
          
}

.diceShadow
{
    position: relative;
    z-index: 0;
    margin-left:-3px;
    border: 0px;
    border-style: solid;
    width:  105px;
    height: 105px;
    border-radius: 25px;
    background: rgb(250,240,220);
    background: linear-gradient(180deg, rgba(250,240,220,1) 0%, rgba(156,155,153,1) 100%);
    -webkit-box-shadow: 1px 5px 12px -6px #000000; 
    box-shadow: 1px 5px 12px -6px #000000;
}

.rot1
{
    transform: rotate(-0deg) ;  
}  
.rot2
{
    transform: rotate(-90deg) ;
}  

.rot3
{
    transform: rotate(-180deg) ;  
}  

.rot4
{
    transform: rotate(-270deg);
}  

footer
{
    clear:both;
    padding-top:50px;
    text-align: center;
    font-family: BoggleFont;   
}


