@font-face 
{
    font-family: BoggleFont;
    src: url(/font/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
  }


body
{
    background-color: steelblue;
}


#container
{
   text-align: center;
}

h1
{
    font-family: BoggleFont;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(255, 255, 255);

}

.logoSize
{
    width:600px;
    height:250px;
}