
@font-face 
{
    font-family: BoggleFont;
    src: url(/font/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
  }
body
{
    background-color:darkred ;
    height:100%;
}

#container
{
   
    width:590px;
    margin: auto;
    text-align: center;
}
#logo
{
    float:left;
    width:500px;
    margin-top: -100px;
}


#main
{
    position: relative;
    z-index: 0;
    margin-top: 100px; 
    display:table;  
    width: 710px;
    height: 700px; 
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    background-color:steelblue;
    padding-left:6px;
    padding-top:6px;
    -webkit-box-shadow: -1px 5px 7px -3px #000000; 
    box-shadow: -1px 5px 7px -3px #000000;

}

.row
{
    display:table-row;
}

.tray
{
    position: relative;
    z-index: 0;
    display:table-cell;
    border: 3px;
    border-style: solid;
    border-color:rgb(1, 1, 48);
    vertical-align: middle;
    padding-left:6px;
    margin:auto;
    text-align: center;
    width:  105px;
    height:  110px;
    background: rgb(5, 5, 241);
    background: radial-gradient(circle, rgba(55, 5, 233, 0.869) 59%, rgb(39, 4, 165) 70%, rgb(32, 4, 133) 77%, rgb(10, 1, 59) 100%);
}
.cell
{
    position: absolute;
    z-index: 0;
    display:table-cell;
    margin-left:2.5px;
    margin-top:3px;
    border: 0px;
    border-style: solid;
    border-radius: 50px;
    text-align: center;
    width:  100px;
    height: 100px;
    font-weight: normal;
    font-size: 75px;
    vertical-align: middle; 
    background:antiquewhite;
    font-family: BoggleFont;
    color:rgb(12, 88, 150);
          
}

.diceShadow
{
    position: relative;
    z-index: 0;
    border: 0px;
    border-style: solid;
    margin-left:-3px;
    width:  105px;
    height: 105px;
    border-radius: 25px;
    background: rgb(250,240,220);
    background: linear-gradient(180deg, rgba(250,240,220,1) 0%, rgba(156,155,153,1) 100%);
    -webkit-box-shadow: 1px 5px 12px -6px #000000; 
    box-shadow: 1px 5px 12px -6px #000000;
}


.rot1
{
    transform: rotate(-0deg) ;  
}  
.rot2
{
    transform: rotate(-90deg) ;
}  

.rot3
{
    transform: rotate(-180deg) ;  
}  

.rot4
{
    transform: rotate(-270deg);
}  

